body {
 height: 1360px;
 width: 100%;
 margin: 0;
 padding: 0;
 overflow: scroll;
}

.searchWindow {
  border: 5px solid black;
  width: 65%;
  position: relative;
  right: 0;
  left: 0;
  /*margin-right: auto;
  margin-left: auto;*/
  margin: 30px auto 20px auto;

}

.stream {
  border: 5px solid green;
}

.img {
  float: left;
}

#searchBox {
  border: 5px solid red;
  padding: 50px 30px 20px 40px;
}

#results {
  border: 5px solid blue;
}

